<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <SettingsStores>
    <FileSystemSettingsStore Path=".\Settings"/>
  </SettingsStores>
  <DeploymentsStores>
    <FileSystemDeploymentsStore ServicesDirectory=".\Services" CommonSettingsDirectory=".\Settings"/>
  </DeploymentsStores>
</Configuration>